trigger:
- main

variables:
  imageName: <your-repository-name>
  dockerHubUsername: <your-dockerhub-username>
  tag: <your-image-tag>

stages:
- stage: BuildAndPush
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        command: buildAndPush
        repository: $(dockerHubUsername)/$(imageName)
        dockerfile: Dockerfile
        containerRegistry: <your-dockerhub-service-connection>
        tags: |
          $(tag)
